<h1>Update Item</h1>

<p>
  <em>Update Item #<%= @item.id %>.</em>
</p>

<form action="/update" method="post">
  <input type="hidden" name="id" value="<%= @item.id %>" >
  <input type="text" name="name" value="<%= @item.name %>">
  <input type="text" name="size" value="<%= @item.size %>">
  <input type="text" name="quantity" value="<%= @item.quantity %>">
  <input type="submit" >Update Item</input>
</form>


</form>
